# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

name: PR

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions:
  pull-requests: write
  contents: read

jobs:
  validate_pr_title:
    name: Validate PR Title
    uses: ./.github/workflows/lint-pr-title.yaml
